{% extends "layout.html" %}
{% block content %}
<div class="content">
    <section class="section">
        <div class="tile is-12 is-vertical">
            <div class="card">
                <section class="section">
                    <h3>About This Project</h3>
                    <p>My name is Daniel Shaanan, and this project was created by me for a problem i wanted to solve.<br>
                    The problem i wanted to solve is that you cannot share playlists between music services, And this site solves exactly this problem. 
                    for now the site supports only from Apple Music playlist to Spotify playlist.<br>
                    </p>
                </section>
            </div>
          </div>
          </div>
    </section>
{% endblock content %}
